body
{
	padding-top:60px;
}
.extension-blocks
{
	float:left;
	width:287px;
	min-height:300px !important;
	padding: 10px;
	margin:2px;
	border:1px solid #CCC;
	border-radius: 20px;
}
.extension-blocks a
{
	margin:3px;
}